In [1]:
import pandas as pd
import numpy as np

In [2]:
Waste_per_supermarket_per_region = pd.read_csv('C:/TigergraphData/2021 waste per supermarket per region.csv')

In [8]:
Waste_per_supermarket_per_region_df = Waste_per_supermarket_per_region[['Region','Supermarket','Waste']]

C:\Users\EDMUND~1\AppData\Local\Temp/ipykernel_10116/1032262404.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Waste_per_supermarket_per_region_df['Region'] = Waste_per_supermarket_per_region_df['Region'].replace(['East of England'],'East')
C:\Users\EDMUND~1\AppData\Local\Temp/ipykernel_10116/1032262404.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Waste_per_supermarket_per_region_df['Region'] = Waste_per_supermarket_per_region_df['Region'].replace(['Yorkshire & Humber'],'Yorkshire & The Humber')

In [ ]:
Waste_per_supermarket_per_region_df['Region'] = Waste_per_supermarket_per_region_df['Region'].replace(['East of England'],'East')
Waste_per_supermarket_per_region_df['Region'] = Waste_per_supermarket_per_region_df['Region'].replace(['Yorkshire & Humber'],'Yorkshire & The Humber')

In [13]:
Waste_per_supermarket_per_region_df['Waste'].astype(int)

0     1488
1     3670
2     6129
3      757
4     2938
5      681
6     2711
7     5423
8     3506
9     1614
10    3329
11    2787
12    1321
13    2122
14    2075
15    1745
16    4009
17     755
18    2971
19    2736
20    1934
21    1509
22    4386
23    4198
24    1700
25    2507
26    8877
27    1672
28    1873
29     346
30    2248
31    4842
32    2709
33     980
34    3487
35    3804
36     676
37    1234
38     823
39     646
40    1528
41     147
42    1792
43    1351
44    1293
45     881
46    2056
47    1939
Name: Waste, dtype: int32

In [14]:
Waste_per_supermarket_per_region_df[:]

                    Region  Supermarket   Waste
0            East Midlands        Tesco  1488.0
1                     East        Tesco  3670.0
2                  London         Tesco  6129.0
3               North East        Tesco   757.0
4               North West        Tesco  2938.0
5         Northern Ireland        Tesco   681.0
6                 Scotland        Tesco  2711.0
7               South East        Tesco  5423.0
8               South West        Tesco  3506.0
9                    Wales        Tesco  1614.0
10           West Midlands        Tesco  3329.0
11  Yorkshire & The Humber        Tesco  2787.0
12           East Midlands         Asda  1321.0
13                    East         Asda  2122.0
14                 London          Asda  2075.0
15              North East         Asda  1745.0
16              North West         Asda  4009.0
17        Northern Ireland         Asda   755.0
18                Scotland         Asda  2971.0
19              South East         Asda  2736.0
20              South West         Asda  1934.0
21                   Wales         Asda  1509.0
22           West Midlands         Asda  4386.0
23  Yorkshire & The Humber         Asda  4198.0
24           East Midlands  Sainsbury's  1700.0
25                    East  Sainsbury's  2507.0
26                 London   Sainsbury's  8877.0
27              North East  Sainsbury's  1672.0
28              North West  Sainsbury's  1873.0
29        Northern Ireland  Sainsbury's   346.0
30                Scotland  Sainsbury's  2248.0
31              South East  Sainsbury's  4842.0
32              South West  Sainsbury's  2709.0
33                   Wales  Sainsbury's   980.0
34           West Midlands  Sainsbury's  3487.0
35  Yorkshire & The Humber  Sainsbury's  3804.0
36           East Midlands    Morrisons   676.0
37                    East    Morrisons  1234.0
38                 London     Morrisons   823.0
39              North East    Morrisons   646.0
40              North West    Morrisons  1528.0
41        Northern Ireland    Morrisons   147.0
42                Scotland    Morrisons  1792.0
43              South East    Morrisons  1351.0
44              South West    Morrisons  1293.0
45                   Wales    Morrisons   881.0
46           West Midlands    Morrisons  2056.0
47  Yorkshire & The Humber    Morrisons  1939.0

In [ ]:
Waste_per_supermarket_per_region_df.to_csv('/Tigergraph_Clean/Waste_per_supermarket_per_region.csv')