In [1]:
import pandas as pd
import numpy as np

In [2]:
fsm3 = pd.read_csv('/Tigergraphdata/fsm-eligibility.csv')

In [3]:
fsm3.columns = fsm3.loc[0]
fsm3.drop(fsm3.index[[0]],inplace = True)

In [4]:
fsm3[:]
fsm3.drop(fsm3.index[[3,9]], inplace = True)

In [5]:
fsm3.dtypes
fsm3.fillna(value = 0, inplace = True)
#fsm3.drop(columns=fsm3.columns[5], axis=1, inplace = True)

In [6]:
fsm3[['Nursery', 'Primary','Secondary','Other']] = fsm3[['Nursery', 'Primary','Secondary','Other']].astype(int)

In [7]:

fsm3['Total'] = fsm3[['Nursery', 'Primary', 'Secondary']].sum(axis=1)

In [8]:
fsm3['Nursery%ofTotal'] = fsm3['Nursery']/fsm3['Total']
fsm3['Primary%ofTotal'] = fsm3['Primary']/fsm3['Total']
fsm3['Secondary%ofTotal'] = fsm3['Secondary']/fsm3['Total']

In [9]:
NurseryMean = fsm3['Nursery%ofTotal'].mean()
PrimaryMean = fsm3['Primary%ofTotal'].mean()
SecondaryMean = fsm3['Secondary%ofTotal'].mean()

In [10]:
print(NurseryMean)
print(PrimaryMean)
print(SecondaryMean)

0.02365954190317723
0.5907387824329025
0.3856016756639204

In [11]:
fsm3['Nursery+other'] = fsm3['Other'].multiply((fsm3['Nursery%ofTotal'].mean()), axis = 'index')
fsm3['Primary+other'] = fsm3['Other'].multiply((fsm3['Primary%ofTotal'].mean()), axis = 'index')
fsm3['Secondary+other'] = fsm3['Other'].multiply((fsm3['Secondary%ofTotal'].mean()), axis = 'index')

In [12]:
fsm3['Nursery'] = fsm3['Nursery+other'].add(fsm3['Nursery'], axis = 'index')
fsm3['Primary School'] = fsm3['Primary+other'].add(fsm3['Primary'], axis = 'index')
fsm3['Secondary School'] = fsm3['Secondary+other'].add(fsm3['Secondary'], axis = 'index')

In [13]:
fsm3[:]

,Region,Nursery,Primary,Secondary,Other,Total,Nursery%ofTotal,Primary%ofTotal,Secondary%ofTotal,Nursery+other,Primary+other,Secondary+other,Primary School,Secondary School
1,East Midlands,412.459611,153590,101040,9318,254822,0.000753,0.602734,0.396512,220.459611,5504.503975,3593.036414,159094.503975,104633.036414
2,East of England,356.026094,172718,110748,3636,283736,0.000952,0.608728,0.390321,86.026094,2147.926213,1402.047693,174865.926213,112150.047693
3,London,1782.673104,292470,236950,18372,530768,0.002540,0.551032,0.446429,434.673104,10853.052911,7084.273985,303323.052911,244034.273985
5,North East,419.289233,119490,77372,9184,197064,0.001025,0.606351,0.392624,217.289233,5425.344978,3541.365789,124915.344978,80913.365789
6,North West,759.317122,295730,192112,20428,488118,0.000565,0.605858,0.393577,483.317122,12067.611848,7877.071030,307797.611848,199989.071030
7,Scotland,90126.000000,217628,94260,0,402014,0.224186,0.541344,0.234469,0.000000,0.000000,0.000000,217628.000000,94260.000000
8,South East,772.944121,232066,144006,17200,376438,0.000972,0.616479,0.382549,406.944121,10160.707058,6632.348821,242226.707058,150638.348821
9,South West,910.443938,141336,99156,9740,241172,0.002820,0.586038,0.411142,230.443938,5753.795741,3755.760321,147089.795741,102911.760321
11,West Midlands,1331.338347,248768,168360,16794,418062,0.002234,0.595050,0.402715,397.338347,9920.867112,6475.794541,258688.867112,174835.794541
12,Yorkshire & The Humber,460.075208,210210,143620,11246,354024,0.000548,0.593773,0.405679,266.075208,6643.448347,4336.476445,216853.448347,147956.476445

In [14]:
fsm3.drop(columns=fsm3.columns[3:11], axis=1, inplace = True)

In [15]:
fsm3.drop(columns=fsm3.columns[2:4], axis=1, inplace = True)

In [16]:
fsm3.sort_values('Region', inplace = True)
fsm3.reset_index(drop=True, inplace = True)

In [17]:
fsm3.loc[len(fsm3.index)] = ["Northern Ireland",(NurseryMean * 97631),(PrimaryMean * 97631),(SecondaryMean * 97631)]
fsm3.loc[len(fsm3.index)] = ["Wales",(NurseryMean * 99135),(PrimaryMean * 99135),(SecondaryMean * 99135)]

In [18]:
fsm3.sort_values('Region', inplace = True)
fsm3.reset_index(drop=True, inplace = True)

In [19]:
fsm3[:]

0                   Region       Nursery  Primary School  Secondary School
0            East Midlands    412.459611   159094.503975     104633.036414
1          East of England    356.026094   174865.926213     112150.047693
2                   London   1782.673104   303323.052911     244034.273985
3               North East    419.289233   124915.344978      80913.365789
4               North West    759.317122   307797.611848     199989.071030
5         Northern Ireland   2309.904736    57674.418068      37646.677197
6                 Scotland  90126.000000   217628.000000      94260.000000
7               South East    772.944121   242226.707058     150638.348821
8               South West    910.443938   147089.795741     102911.760321
9                    Wales   2345.488687    58562.889196      38226.622117
10           West Midlands   1331.338347   258688.867112     174835.794541
11  Yorkshire & The Humber    460.075208   216853.448347     147956.476445

In [20]:
fsm3[['Nursery', 'Primary School','Secondary School']] = fsm3[['Nursery', 'Primary School','Secondary School']].astype(int)

In [21]:
fsm3['Adult'] = 0
fsm3['Infant'] = 0

In [22]:

fsm3 = fsm3.reindex(columns = ['Region','Infant', 'Nursery','Primary School','Secondary School','Adult'])

In [23]:
fsm3[:]

,Region,Infant,Nursery,Primary School,Secondary School,Adult
0,East Midlands,0,412,159094,104633,0
1,East of England,0,356,174865,112150,0
2,London,0,1782,303323,244034,0
3,North East,0,419,124915,80913,0
4,North West,0,759,307797,199989,0
5,Northern Ireland,0,2309,57674,37646,0
6,Scotland,0,90126,217628,94260,0
7,South East,0,772,242226,150638,0
8,South West,0,910,147089,102911,0
9,Wales,0,2345,58562,38226,0
10,West Midlands,0,1331,258688,174835,0
11,Yorkshire & The Humber,0,460,216853,147956,0

In [24]:
fsm3.set_index('Region', inplace = True)
    
    
df_sorted = pd.DataFrame(columns = ['Region','Age Group','FreeSchoolMeals'])
df_sort = pd.DataFrame(columns = ['Region','Age Group','FreeSchoolMeals'])
for i in fsm3.columns:
    df_sort['Region'] = fsm3.index
    df_sort['Age Group'] = i
    df_sort['FreeSchoolMeals'] =[j for j in fsm3[i]]
    df_sorted = pd.concat([df_sorted,df_sort], axis=0)
df_sorted

                    Region         Age Group FreeSchoolMeals
0            East Midlands            Infant               0
1          East of England            Infant               0
2                   London            Infant               0
3               North East            Infant               0
4               North West            Infant               0
5         Northern Ireland            Infant               0
6                 Scotland            Infant               0
7               South East            Infant               0
8               South West            Infant               0
9                    Wales            Infant               0
10           West Midlands            Infant               0
11  Yorkshire & The Humber            Infant               0
0            East Midlands           Nursery             412
1          East of England           Nursery             356
2                   London           Nursery            1782
3               North East           Nursery             419
4               North West           Nursery             759
5         Northern Ireland           Nursery            2309
6                 Scotland           Nursery           90126
7               South East           Nursery             772
8               South West           Nursery             910
9                    Wales           Nursery            2345
10           West Midlands           Nursery            1331
11  Yorkshire & The Humber           Nursery             460
0            East Midlands    Primary School          159094
1          East of England    Primary School          174865
2                   London    Primary School          303323
3               North East    Primary School          124915
4               North West    Primary School          307797
5         Northern Ireland    Primary School           57674
6                 Scotland    Primary School          217628
7               South East    Primary School          242226
8               South West    Primary School          147089
9                    Wales    Primary School           58562
10           West Midlands    Primary School          258688
11  Yorkshire & The Humber    Primary School          216853
0            East Midlands  Secondary School          104633
1          East of England  Secondary School          112150
2                   London  Secondary School          244034
3               North East  Secondary School           80913
4               North West  Secondary School          199989
5         Northern Ireland  Secondary School           37646
6                 Scotland  Secondary School           94260
7               South East  Secondary School          150638
8               South West  Secondary School          102911
9                    Wales  Secondary School           38226
10           West Midlands  Secondary School          174835
11  Yorkshire & The Humber  Secondary School          147956
0            East Midlands             Adult               0
1          East of England             Adult               0
2                   London             Adult               0
3               North East             Adult               0
4               North West             Adult               0
5         Northern Ireland             Adult               0
6                 Scotland             Adult               0
7               South East             Adult               0
8               South West             Adult               0
9                    Wales             Adult               0
10           West Midlands             Adult               0
11  Yorkshire & The Humber             Adult               0

In [25]:
df_sorted['Region'] = df_sorted['Region'].replace(['East of England'],'East')

In [26]:
df_sorted[:]

                    Region         Age Group FreeSchoolMeals
0            East Midlands            Infant               0
1                     East            Infant               0
2                   London            Infant               0
3               North East            Infant               0
4               North West            Infant               0
5         Northern Ireland            Infant               0
6                 Scotland            Infant               0
7               South East            Infant               0
8               South West            Infant               0
9                    Wales            Infant               0
10           West Midlands            Infant               0
11  Yorkshire & The Humber            Infant               0
0            East Midlands           Nursery             412
1                     East           Nursery             356
2                   London           Nursery            1782
3               North East           Nursery             419
4               North West           Nursery             759
5         Northern Ireland           Nursery            2309
6                 Scotland           Nursery           90126
7               South East           Nursery             772
8               South West           Nursery             910
9                    Wales           Nursery            2345
10           West Midlands           Nursery            1331
11  Yorkshire & The Humber           Nursery             460
0            East Midlands    Primary School          159094
1                     East    Primary School          174865
2                   London    Primary School          303323
3               North East    Primary School          124915
4               North West    Primary School          307797
5         Northern Ireland    Primary School           57674
6                 Scotland    Primary School          217628
7               South East    Primary School          242226
8               South West    Primary School          147089
9                    Wales    Primary School           58562
10           West Midlands    Primary School          258688
11  Yorkshire & The Humber    Primary School          216853
0            East Midlands  Secondary School          104633
1                     East  Secondary School          112150
2                   London  Secondary School          244034
3               North East  Secondary School           80913
4               North West  Secondary School          199989
5         Northern Ireland  Secondary School           37646
6                 Scotland  Secondary School           94260
7               South East  Secondary School          150638
8               South West  Secondary School          102911
9                    Wales  Secondary School           38226
10           West Midlands  Secondary School          174835
11  Yorkshire & The Humber  Secondary School          147956
0            East Midlands             Adult               0
1                     East             Adult               0
2                   London             Adult               0
3               North East             Adult               0
4               North West             Adult               0
5         Northern Ireland             Adult               0
6                 Scotland             Adult               0
7               South East             Adult               0
8               South West             Adult               0
9                    Wales             Adult               0
10           West Midlands             Adult               0
11  Yorkshire & The Humber             Adult               0

In [27]:
df_sorted.reset_index(drop=True, inplace = True)

In [28]:
df_sorted.to_csv('/Tigergraph_Clean/Free_School_Meals_Final_Complete')

In [29]:
pov = pd.read_csv('/Tigergraphdata/age_group.csv')

In [30]:
fsm3_merge = pd.merge(pov, df_sorted, how = 'inner', on=['Region','Age Group'])

In [31]:
fsm3_merge[:]

,Region,Age Group,Total,Adult BHC,Adult AHC,Child BHC,Child AHC,RLI Total,FreeSchoolMeals
0,East,Infant,136248,0.14,0.19,0.17,0.26,23162,0
1,East,Nursery,226289,0.14,0.19,0.17,0.26,38469,356
2,East,Primary School,556221,0.14,0.19,0.17,0.26,94558,174865
3,East,Secondary School,369766,0.14,0.19,0.17,0.26,62860,112150
4,East,Adult,7928741,0.14,0.19,0.17,0.26,1110024,0
5,East Midlands,Infant,98500,0.17,0.20,0.20,0.27,19700,0
6,East Midlands,Nursery,165134,0.17,0.20,0.20,0.27,33027,412
7,East Midlands,Primary School,412323,0.17,0.20,0.20,0.27,82465,159094
8,East Midlands,Secondary School,279985,0.17,0.20,0.20,0.27,55997,104633
9,East Midlands,Adult,8046546,0.17,0.20,0.20,0.27,1367913,0
10,London,Infant,232224,0.16,0.27,0.21,0.38,48767,0
11,London,Nursery,363575,0.16,0.27,0.21,0.38,76351,1782
12,London,Primary School,832055,0.16,0.27,0.21,0.38,174732,303323
13,London,Secondary School,522987,0.16,0.27,0.21,0.38,109827,244034
14,London,Adult,5416615,0.16,0.27,0.21,0.38,866658,0
15,North East,Infant,52193,0.21,0.25,0.30,0.37,15658,0
16,North East,Nursery,86585,0.21,0.25,0.30,0.37,25976,419
17,North East,Primary School,217969,0.21,0.25,0.30,0.37,65391,124915
18,North East,Secondary School,149025,0.21,0.25,0.30,0.37,44708,80913
19,North East,Adult,5763389,0.21,0.25,0.30,0.37,1210312,0
20,North West,Infant,160556,0.19,0.22,0.25,0.31,40139,0
21,North West,Nursery,261248,0.19,0.22,0.25,0.31,65312,759
22,North West,Primary School,638606,0.19,0.22,0.25,0.31,159652,307797
23,North West,Secondary School,431568,0.19,0.22,0.25,0.31,107892,199989
24,North West,Adult,4469951,0.19,0.22,0.25,0.31,849291,0
25,Northern Ireland,Infant,44792,0.17,0.18,0.22,0.24,9854,0
26,Northern Ireland,Nursery,72944,0.17,0.18,0.22,0.24,16048,2309
27,Northern Ireland,Primary School,179876,0.17,0.18,0.22,0.24,39573,57674
28,Northern Ireland,Secondary School,121122,0.17,0.18,0.22,0.24,26647,37646
29,Northern Ireland,Adult,5240409,0.17,0.18,0.22,0.24,890870,0
30,Scotland,Infant,99697,0.17,0.19,0.21,0.24,20936,0
31,Scotland,Nursery,164109,0.17,0.19,0.21,0.24,34463,90126
32,Scotland,Primary School,418842,0.17,0.19,0.21,0.24,87957,217628
33,Scotland,Secondary School,290025,0.17,0.19,0.21,0.24,60905,94260
34,Scotland,Adult,4553677,0.17,0.19,0.21,0.24,774125,0
35,South East,Infant,191472,0.14,0.19,0.15,0.24,28721,0
36,South East,Nursery,320117,0.14,0.19,0.15,0.24,48018,772
37,South East,Primary School,813536,0.14,0.19,0.15,0.24,122030,242226
38,South East,Secondary School,554834,0.14,0.19,0.15,0.24,83225,150638
39,South East,Adult,2985624,0.14,0.19,0.15,0.24,417987,0
40,South West,Infant,106168,0.14,0.19,0.16,0.26,16987,0
41,South West,Nursery,178364,0.14,0.19,0.16,0.26,28538,910
42,South West,Primary School,456726,0.14,0.19,0.16,0.26,73076,147089
43,South West,Secondary School,312650,0.14,0.19,0.16,0.26,50024,102911
44,South West,Adult,1626855,0.14,0.19,0.16,0.26,227760,0
45,Wales,Infant,60238,0.20,0.23,0.22,0.31,13252,0
46,Wales,Nursery,101103,0.20,0.23,0.22,0.31,22243,2345
47,Wales,Primary School,256644,0.20,0.23,0.22,0.31,56462,58562
48,Wales,Secondary School,178607,0.20,0.23,0.22,0.31,39294,38226
49,Wales,Adult,4869408,0.20,0.23,0.22,0.31,973882,0
50,West Midlands,Infant,132588,0.21,0.25,0.29,0.35,38451,0
51,West Midlands,Nursery,216669,0.21,0.25,0.29,0.35,62834,1331
52,West Midlands,Primary School,529737,0.21,0.25,0.29,0.35,153624,258688
53,West Midlands,Secondary School,360637,0.21,0.25,0.29,0.35,104585,174835
54,West Midlands,Adult,655879,0.21,0.25,0.29,0.35,137735,0
55,Yorkshire & The Humber,Infant,117440,0.21,0.24,0.28,0.33,32883,0
56,Yorkshire & The Humber,Nursery,194077,0.21,0.24,0.28,0.33,54342,460
57,Yorkshire & The Humber,Primary School,478245,0.21,0.24,0.28,0.33,133909,216853
58,Yorkshire & The Humber,Secondary School,323946,0.21,0.24,0.28,0.33,90705,147956
59,Yorkshire & The Humber,Adult,2055878,0.21,0.24,0.28,0.33,431734,0

In [32]:
fsm3_merge['Poverty Rate'] = [fsm3_merge['Adult BHC'][j] if fsm3_merge['Age Group'][j] == 'Adult' else fsm3_merge['Child BHC'][j] for j in range(fsm3_merge.shape[0])]

In [33]:
fsm3_merge.drop(columns=fsm3_merge.columns[3:7], axis=1, inplace = True)

In [34]:
fsm3_merge[:]

,Region,Age Group,Total,RLI Total,FreeSchoolMeals,Poverty Rate
0,East,Infant,136248,23162,0,0.17
1,East,Nursery,226289,38469,356,0.17
2,East,Primary School,556221,94558,174865,0.17
3,East,Secondary School,369766,62860,112150,0.17
4,East,Adult,7928741,1110024,0,0.14
5,East Midlands,Infant,98500,19700,0,0.20
6,East Midlands,Nursery,165134,33027,412,0.20
7,East Midlands,Primary School,412323,82465,159094,0.20
8,East Midlands,Secondary School,279985,55997,104633,0.20
9,East Midlands,Adult,8046546,1367913,0,0.17
10,London,Infant,232224,48767,0,0.21
11,London,Nursery,363575,76351,1782,0.21
12,London,Primary School,832055,174732,303323,0.21
13,London,Secondary School,522987,109827,244034,0.21
14,London,Adult,5416615,866658,0,0.16
15,North East,Infant,52193,15658,0,0.30
16,North East,Nursery,86585,25976,419,0.30
17,North East,Primary School,217969,65391,124915,0.30
18,North East,Secondary School,149025,44708,80913,0.30
19,North East,Adult,5763389,1210312,0,0.21
20,North West,Infant,160556,40139,0,0.25
21,North West,Nursery,261248,65312,759,0.25
22,North West,Primary School,638606,159652,307797,0.25
23,North West,Secondary School,431568,107892,199989,0.25
24,North West,Adult,4469951,849291,0,0.19
25,Northern Ireland,Infant,44792,9854,0,0.22
26,Northern Ireland,Nursery,72944,16048,2309,0.22
27,Northern Ireland,Primary School,179876,39573,57674,0.22
28,Northern Ireland,Secondary School,121122,26647,37646,0.22
29,Northern Ireland,Adult,5240409,890870,0,0.17
30,Scotland,Infant,99697,20936,0,0.21
31,Scotland,Nursery,164109,34463,90126,0.21
32,Scotland,Primary School,418842,87957,217628,0.21
33,Scotland,Secondary School,290025,60905,94260,0.21
34,Scotland,Adult,4553677,774125,0,0.17
35,South East,Infant,191472,28721,0,0.15
36,South East,Nursery,320117,48018,772,0.15
37,South East,Primary School,813536,122030,242226,0.15
38,South East,Secondary School,554834,83225,150638,0.15
39,South East,Adult,2985624,417987,0,0.14
40,South West,Infant,106168,16987,0,0.16
41,South West,Nursery,178364,28538,910,0.16
42,South West,Primary School,456726,73076,147089,0.16
43,South West,Secondary School,312650,50024,102911,0.16
44,South West,Adult,1626855,227760,0,0.14
45,Wales,Infant,60238,13252,0,0.22
46,Wales,Nursery,101103,22243,2345,0.22
47,Wales,Primary School,256644,56462,58562,0.22
48,Wales,Secondary School,178607,39294,38226,0.22
49,Wales,Adult,4869408,973882,0,0.20
50,West Midlands,Infant,132588,38451,0,0.29
51,West Midlands,Nursery,216669,62834,1331,0.29
52,West Midlands,Primary School,529737,153624,258688,0.29
53,West Midlands,Secondary School,360637,104585,174835,0.29
54,West Midlands,Adult,655879,137735,0,0.21
55,Yorkshire & The Humber,Infant,117440,32883,0,0.28
56,Yorkshire & The Humber,Nursery,194077,54342,460,0.28
57,Yorkshire & The Humber,Primary School,478245,133909,216853,0.28
58,Yorkshire & The Humber,Secondary School,323946,90705,147956,0.28
59,Yorkshire & The Humber,Adult,2055878,431734,0,0.21

In [455]:
fsm3_merge.to_csv('/Tigergraph_Clean/Free_School_Meals_Pov_rate_Final')