In [4]:
import pandas as pd
df = pd.read_csv('dietary_needs_rough.csv')

In [5]:
df['Weighting'] = df['Weight']*df['kcal/d']

In [6]:
df_filter = df[['Age Group', 'Gender', 'Weight', 'kcal/d', 'Weighting']]

In [7]:
df_group = df_filter.groupby(['Age Group', 'Gender']).sum()

In [8]:
df_group['kcal/d'] = df_group['Weighting']/df_group['Weight']
df_final = df_group[['kcal/d']].round()

In [9]:
df_final.to_csv('dietary_needs.csv')

                         kcal/d
Age Group        Gender
Adult            F       2058.0
                 M       2565.0
Infant           F        655.0
                 M        711.0
Nursery          F       1100.0
                 M       1187.0
Primary School   F       1670.0
                 M       1779.0
Secondary School F       2294.0
                 M       2615.0